body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #050505;
}

  /* background-color: #050505; */

.top_btn{
  border-top-left-radius: 4.7px;
  border-top-right-radius: 4.7px;
}

.nav_btn {
  line-height: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  width: 60px;
  /* filter: grayscale(100%) brightness(2.5); */
  padding: 0;
  flex-shrink: 0;
  margin: 0 2.5px 0 2.5px;
}

#title-bar{
  display: flex;
  -webkit-app-region: drag;
  background: #0e0c0c;
}
  /* background: #0e0c0c; */

#title-bar-btns{
  -webkit-app-region: no-drag;
}

.close_btn_right{
  -webkit-app-region: no-drag;
}

#lang-btn{
  background: url(../ui/preferences_tab_01.png);
  /* border-radius: 25px; */
  width: 70px;
  /* margin-right: 7px; */
}
/* #lang-btn:hover{
  background-color: gray;
} */

#web-btn{
background: url(../ui/preferences_tab_01.png);
  /* border-radius: 25px; */
}
/* #web-btn:hover{
  background-color: gray;
} */

#sign-btn{
background: url(../ui/preferences_tab_01.png);
}
/* #sign-btn:hover{
  background-color: gray;
} */

#hotkey-btn{
background: url(../ui/preferences_tab_01.png);
}
/* #hotkey-btn:hover{
  background-color: gray;
} */

#theme-btn{
background: url(../ui/preferences_tab_01.png);
}
/* #theme-btn:hover{
  background-color: gray;
} */

#Others-btn{
background: url(../ui/preferences_tab_01.png);
}
/* #Others-btn:hover{
  background-color: gray;
} */

#close-btn{
  margin-left: 2.8px;
margin-top: 6px;
  background: url(../ui/header_close_bl_01.png);
  height: 20px;
  width: 20px;
}
/* #close-btn:hover{
  background-color: gray;
} */

.option-name{
  color: #737373;
}

.close_btn_right{
  line-height: 1px;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  /* filter: grayscale(100%) brightness(2.5); */
  padding: 0;
  flex-shrink: 0;
}

.lang_entry{
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 0;
}

.hot_title{
  margin-left: 2%;
}

#add-btn{
  display: flex;
  margin-left: auto;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 3%;
  padding-left: 17px;
}

.en{
  color: white;
  font-family: sans-serif;
}

.lang_choice{
  margin-left: 15px;
}

.final_btns{
  display: flex;
  margin-top: 1%;

}

.btn_group{
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.save_btns{
  background: url(../ui/preferences_btn_s_01.png);
  line-height: 1px;
  border: none;
  outline: none;
  height: 20px;
  width: 60px;
  border-radius: 10%;
  /* filter: grayscale(100%) brightness(2.5); */
}

.us{
  margin-bottom: 2%;
}

.sites{
  display: flex;
}

.web_info{
  margin-right: 5%;
  margin-left: 3%;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;

}

.hotkey_background{
  display: flex;
  overflow-y: scroll;
  height: 245px;
}

.hotkeys_bg{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

}

.spec_btn_grp{
  line-height: 1px;
}

.rem{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2%;
}

.url_bar{
  margin-left: 1%;
  margin-right: 1%;
  width: 43%;
}

.hkey{
  margin-left: auto;
  margin-right: 2%;
}

.e1{
  background-color: white;
  height: 34px;
  padding-bottom: 1%;
  padding-left: 1%;
}

.c1{
  color: black;
  padding-bottom: 1%;
}

.e2{
  background-color: gray;
  height: 34px;
  padding-bottom: 1%;
  padding-left: 1%;
}

.c2{
  color: white;
  padding-bottom: 1%;
}

.extras{
  margin-left: 4.3%;
}

.spec_btn{
  margin-left: auto;
  width: 60px;
  margin-right: 2%;
}

.theme_end_btns{
  margin-top: 26%;
}

.snap_info{
  width: 598px;
  line-height: 2;

}
@media (max-width: 685px) {
  .snap_info{
    width: 200px;
    line-height: 2;
    margin-right: 297px;
  }
}

.snap_info_btn{
  margin-top: 1%;
}

.spec_bar{
  height: 25px;
}

.spec_row{
  display: flex;
  line-height: 1px;
  margin-bottom: 2%;
}

.show_hide_web{
  display: none;
}
.show_hide_hotkey{
  display: none;
}
.show_hide_lang{
  display: block;
}
.show_hide_theme{
  display: none;
}
.show_hide_Other{
  display: none;
}
.show_hide_sign{
  display: none;
}

.op_l{
  color: white;
}
.op_w{
  color: #737373;
}
.op_s{
  color: #737373;
}
.op_h{
  color: #737373;
}
.op_t{
  color: #737373;
}
.op_o{
  color: #737373;
}

.op_l:hover{
  color: white;
}
.op_w:hover{
  color: white;
}
.op_s:hover{
  color: white;
}
.op_h:hover{
  color: white;
}
.op_t:hover{
  color: white;
}
.op_o:hover{
  color: white;
}
