body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #1f1e1e;;
}

.nav_btn {
  line-height: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  width: 60px;
  /* filter: grayscale(100%) brightness(2.5); */
  padding: 0;
  flex-shrink: 0;
  margin: 0 2.5px 0 2.5px;
}

#title-bar{
  display: flex;
  -webkit-app-region: drag;
  background: #100f0f;
}

#title-bar-btns{
  -webkit-app-region: no-drag;
}

.close_btn_right{
  -webkit-app-region: no-drag;
}

#lang-btn{
  background-color: rgba(109, 109, 109, 0.61);
  /* border-radius: 25px; */
  width: 70px;
  /* margin-right: 7px; */
}
#lang-btn:hover{
  background-color: gray;
}

#web-btn{
  background-color: rgba(109, 109, 109, 0.61);
  /* border-radius: 25px; */
}
#web-btn:hover{
  background-color: gray;
}

#sign-btn{
  background-color: rgba(109, 109, 109, 0.61);
}
#sign-btn:hover{
  background-color: gray;
}

#hotkey-btn{
  background-color: rgba(109, 109, 109, 0.61);
}
#hotkey-btn:hover{
  background-color: gray;
}

#theme-btn{
  background-color: rgba(109, 109, 109, 0.61);
}
#theme-btn:hover{
  background-color: gray;
}

#Others-btn{
  background-color: rgba(109, 109, 109, 0.61);
}
#Others-btn:hover{
  background-color: gray;
}

#close-btn{
  background: url(../ui/header_close_bl_01.png);
  height: 20px;
  width: 20px;
}
#close-btn:hover{
  background-color: gray;
}

.option-name{
  color: white;
}

.close_btn_right{
  line-height: 1px;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  /* filter: grayscale(100%) brightness(2.5); */
  padding: 0;
  flex-shrink: 0;
}

.lang_entry{
  color: white;
  font-family: serif;
  font-size: 1.5rem;
}

#add-btn{
  display: flex;
  margin-left: auto;
  margin-right: 2%;
  margin-top: 10%;
}

.en{
  color: white;
  font-family: sans-serif;
}

.lang_choice{
  margin-left: 15px;
}

.final_btns{
  display: flex;
  margin-top: 1%;
}

.btn_group{
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.save_btns{
  background-color: rgba(109, 109, 109, 0.61);
  line-height: 1px;
  border: none;
  outline: none;
  height: 25px;
  width: 60px;
  /* filter: grayscale(100%) brightness(2.5); */
}
.save_btns:hover{
  background-color: gray;
}
