body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #1f1e1e;;
}

.nav_btn {
  line-height: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  width: 60px;
  /* filter: grayscale(100%) brightness(2.5); */
  padding: 0;
  flex-shrink: 0;
  margin: 0 2.5px 0 2.5px;
}

#title-bar{
  display: flex;
  -webkit-app-region: drag;
  background: #100f0f;
}

#title-bar-btns{
  -webkit-app-region: no-drag;
}

.close_btn_right{
  -webkit-app-region: no-drag;
}

#lang-btn{
  background-color: rgba(109, 109, 109, 0.61);
  /* border-radius: 25px; */
  width: 70px;
  /* margin-right: 7px; */
}
#lang-btn:hover{
  background-color: gray;
}

#web-btn{
  background-color: rgba(109, 109, 109, 0.61);
  /* border-radius: 25px; */
}
#web-btn:hover{
  background-color: gray;
}

#sign-btn{
  background-color: rgba(109, 109, 109, 0.61);
}
#sign-btn:hover{
  background-color: gray;
}

#hotkey-btn{
  background-color: rgba(109, 109, 109, 0.61);
}
#hotkey-btn:hover{
  background-color: gray;
}

#theme-btn{
  background-color: rgba(109, 109, 109, 0.61);
}
#theme-btn:hover{
  background-color: gray;
}

#Others-btn{
  background-color: rgba(109, 109, 109, 0.61);
}
#Others-btn:hover{
  background-color: gray;
}

#close-btn{
  background: url(../ui/header_close_bl_01.png);
  height: 20px;
  width: 20px;
}
#close-btn:hover{
  background-color: gray;
}

.option-name{
  color: white;
}

.close_btn_right{
  line-height: 1px;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  /* filter: grayscale(100%) brightness(2.5); */
  padding: 0;
  flex-shrink: 0;
}

.lang_entry{
  color: white;
  font-family: serif;
  font-size: 1.5rem;
}

#add-btn{
  display: flex;
  margin-left: auto;
  margin-right: 2%;
  margin-top: 10%;
}

.en{
  color: white;
  font-family: sans-serif;
}

.lang_choice{
  margin-left: 15px;
}

.final_btns{
  display: flex;
  margin-top: 1%;
}

.btn_group{
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.save_btns{
  background-color: rgba(109, 109, 109, 0.61);
  line-height: 1px;
  border: none;
  outline: none;
  height: 25px;
  width: 60px;
  /* filter: grayscale(100%) brightness(2.5); */
}

.save_btns:hover{
  background-color: gray;
}

.sites{
  display: flex;
}

.web_info{
  margin-right: 5%;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;

}

.spec_btn_grp{
  line-height: 1px;
}

.rem{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2%;
}

.url_bar{
  margin-left: 1%;
  margin-right: 1%;
}

.hkey{
  margin-left: auto;
  margin-right: 2%;
}

.e1{
  background-color: white;
  height: 34px;
  padding-bottom: 1%;
  padding-left: 1%;
}

.c1{
  color: black;
  padding-bottom: 1%;
}

.e2{
  background-color: gray;
  height: 34px;
  padding-bottom: 1%;
  padding-left: 1%;
}

.c2{
  color: white;
  padding-bottom: 1%;
}

.extras{
  margin-left: 4.9%;
}

.spec_btn{
  margin-left: auto;
  width: 120px;
  margin-right: 2%;
}

.snap_info{
  width: 200px;
  line-height: 2;
}

.snap_info_btn{
  margin-top: 1%; 
}

.spec_bar{
  height: 25px;
}

.spec_row{
  line-height: 1px;
}

.show_hide_web{
  display: none;
}
.show_hide_hotkey{
  display: none;
}
.show_hide_lang{
  display: block;
}
.show_hide_theme{
  display: none;
}
.show_hide_Other{
  display: none;
}
.show_hide_sign{
  display: none;
}
